<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>IO Blocks</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="author" content="Marutpong Chailangka">
	<link href="bootswatch/paper/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	<div ng-app="iobApp" ng-controller="iobCtrl" class="container text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 text-center">
				<h2 class="text-primary">IO Blocks</h2>

				<ul class="nav nav-tabs">
					<li class="active"><a href="#manual" data-toggle="tab" aria-expanded="true" ng-click="changeMode(0)"><h5>Manual</h5></a></li>
					<li class=""><a href="#text" data-toggle="tab" aria-expanded="false" ng-click="changeMode(1)"><h5>Text</h5></a></li>
					<li class=""><a href="#sound" data-toggle="tab" aria-expanded="false" ng-click="changeMode(2)"><h5>Sound</h5></a></li>
				</ul>
				<br>
				<div id="myTabContent" class="tab-content">
					<div class="tab-pane fade active in" id="manual">

						<div class="row" ng-repeat="row in status" style="height:62px;">
							{{index_r = $index;""}}

							<div class="col-xs-12"><button ng-repeat="x in [0,1,2,3,4]" class="btn btn-lg"
								ng:class="{true:'btn-success', false:'btn-danger'}[row[$index]==0]"
								style="height:54px;width:18%;margin:1%;" ng-click="togleOutput(index_r,$index)">&nbsp;</button></div>
							</div>

						</div>
						<div class="tab-pane fade" id="text">
							<h4>Scrolling Text</h4>
						</div>
						<div class="tab-pane fade" id="sound">
							<p></p>
						</div>
					</div>


				</div>
			</div>

		</div>

		<script src="bootswatch/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="bootswatch/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
		<script src="angular.min.js"></script>

		<script>
		$(function() {
			$('.container').height($(window).height());
		});
		</script>

		<script>
		var app = angular.module("iobApp", []);

		app.controller("iobCtrl", function($scope,$http) {

			$scope.status_init = [
				[0,0,0,0,0],
				[0,0,0,0,0],
				[0,0,0,0,0],
				[0,0,0,0,0],
				[0,0,0,0,0],
				[0,0,0,0,0],
				[0,0,0,0,0]
			]

			$scope.status = $scope.status_init;
			$scope.$watch("data.channelID",
			function handleChange( newValue, oldValue ) {

				if(angular.isNumber(newValue)){
					$scope.getChannel();
				} else {
					$scope.channel = {}
				}

			}
		);

		$scope.handleCMD = function(cmd){
			$http.get("/cmd/"+cmd.toString())
			.then(function(response) {
				console.log(response.data);
			}, function(response) {

			});
		}


		$scope.changeMode = function(mode){
			$scope.mode = Number(mode) || 0;
			$scope.handleCMD("m"+$scope.mode);
			if ($scope.mode == 0){
				$scope.status = $scope.status_init;
			}

		}

		$scope.togleOutput = function(r,c){

			if ($scope.status[r][c]==0){
				$scope.status[r][c] = 1
			} else {
				$scope.status[r][c] = 0
			}

			$scope.handleCMD("q" + (r+1).toString() + (c+1).toString() + $scope.status[r][c].toString() );
			console.log(r,c);
		}
	});

	</script>
</body>
</html>
